@model RecipesProject.Models.RecipeViewModels.FilterViewModel
<form asp-controller="Recipes" asp-action="Filter" method="get">

    <div class="mb-3">
        <label>Time for cook:</label><br>
        <div class="form-check form-check-inline">
            <input asp-for="TimeFilter" class="form-check-input" type="radio" id="short" name="TimeFilters" value="short">
            <label class="form-check-label" for="short">Short</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="TimeFilter" class="form-check-input" type="radio" id="medium" name="TimeFilters" value="medium">
            <label class="form-check-label" for="medium">Medium</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="TimeFilter" class="form-check-input" type="radio" id="long" name="TimeFilters" value="long">
            <label class="form-check-label" for="long">Long</label>
        </div>
    </div>
    
    <div class="mb-3">
        <label>Meals:</label><br>
        <div class="form-check form-check-inline">
            <input asp-for="IngredientFilter" class="form-check-input" type="radio" id="chicken" name="Meal" value="chicken">
            <label class="form-check-label" for="chicken">Meals with chicken</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="IngredientFilter" class="form-check-input" type="radio" id="pork" name="Meal" value="pork">
            <label class="form-check-label" for="pork">Meals with pork</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="IngredientFilter" class="form-check-input" type="radio" id="beef" name="Meal" value="beef">
            <label class="form-check-label" for="beef">Meals with beef</label>
        </div>
         <div class="form-check form-check-inline">
            <input asp-for="IngredientFilter" class="form-check-input" type="radio" id="pasta" name="Meal" value="spaghetti">
            <label class="form-check-label" for="spaghetti">Pasta</label>
        </div>
    </div>
    
    <div class="mb-3">
        <label for="servings">Number of servings:</label>
        <input  asp-for="ServingsFilter" type="number" id="servings" name="ServingsFilter" value="@Model.ServingsFilter" />
    </div>
    
    <div class="mb-3">
        <label for="ingredient">Ingredient:</label>
        <input type="text" id="ingredient" name="IngredientFilter" value="@Model.IngredientFilter" />
    </div>


    <button asp-controller="Recipe" asp-action="Filter" type="submit" class="btn btn-primary">Apply filters</button>
</form>