html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.text-pink{
    color:#ff1448 !important;
}
.nav-link{
    letter-spacing: 2px;
}
#carouselExampleSlidesOnly{
    height: 500px;
}

footer{
    background-color:#0d243d;
    height: 200px;
}
header{
    z-index:1000;
}
.dishCard{
    height:250px;
}
#recipe-list{
    top:5rem;
}
#recipe-list::-webkit-scrollbar{
    width:10px;
}
#recipe-list::-webkit-scrollbar-track{
    background-color: #ffffff;
}
#recipe-list::-webkit-scrollbar-thumb{
    background-color:#ff1448;
    border-radius:10px;
}
.recipe-item:hover {
    background-color:#0d243d;
    border-radius:10px;
}
.recipe-item:hover a{
    color: #ffffff !important;
}
