@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index-cards.css">


<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100 active">
                        <img src="/images/carouselImages/carouselimage1.jpg" class="d-block w-100 h-100 img-fluid" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/carouselimage2.jpg" class="d-block w-100 h-100 img-fluid" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/carouselimage3.jpg" class="d-block w-100 h-100 img-fluid" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImages/carouselimage4.jpg" class="d-block w-100 h-100 img-fluid" alt="Recipes">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Get The Best <span class="text-pink fst-italic">Recipes</span></h2>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-3 text-pink fst-italic">Delicious Recipes.</span>
                <p class="fs-5 fst-italic">Dive into a world of culinary delight with our collection of delicious recipes.</p>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-3 text-pink fst-italic">Daily Updated.</span>
                <p class="fs-5 fst-italic">Stay in the loop with daily updates, ensuring a constant stream of fresh and exciting dishes.</p>
            </div>
            <div class="mb-2 p-3">
                <span class="fs-3 text-pink fst-italic">Explore new flavours.</span>
                <p class="fs-5 fst-italic">Embark on a culinary journey of discovery as you explore a myriad of flavors and cuisines.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3" style="margin-top:20px">
            <h2 class="text-dark fst-italic text-center ">Today's special</h2>
        </div>
    </div>
    <div class="wrapper">
        <div class="card shadow rounded">
            <div class="card__body">
                <img src="https://images.unsplash.com/photo-1536304929831-ee1ca9d44906?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=400&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ" class="card__image">
                <h2 class="card__title">The Everyday Salad</h2>
                <p class="card__description">Take your boring salads up a knotch. This recipe is perfect for lunch and only contains 5 ingredients!</p>
            </div>
            <button class="card__btn">View Recipe</button>
        </div>
        <div class="card shadow rounded">
            <div class="card__body">
                <img src="https://images.unsplash.com/photo-1536304929831-ee1ca9d44906?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=400&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ" class="card__image">
                <h2 class="card__title">The Everyday Salad</h2>
                <p class="card__description">Take your boring salads up a knotch. This recipe is perfect for lunch and only contains 5 ingredients!</p>
            </div>
            <button class="card__btn">View Recipe</button>
        </div>

        <div class="card shadow rounded">
            <div class="card__body">
                <img src="https://images.unsplash.com/photo-1476124369491-e7addf5db371?ixlib=rb-1.2.1&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ" class="card__image">
                <h2 class="card__title">Simple Risotto</h2>
                <p class="card__description">Fear Risotto no more! This simple recipe is perfect for family dinners.</p>
            </div>
            <button class="card__btn">View Recipe</button>
        </div>

        <div class="card shadow rounded">
            <div class="card__body">
                <img src="https://images.unsplash.com/photo-1529928520614-7c76e2d99740?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=400&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ" class="card__image">
                <h2 class="card__title">Baked Cod with Vegetables</h2>
                <p class="card__description">Baked Cod with Vegetables. 30 minute meal!</p>
            </div>
            <button class="card__btn">View Recipe</button>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>